<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=
    , initial-scale=1.0"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>{{ title }}</title>
        <link rel="icon" href="assets/img/logo1.svg" />
        <script
            src="https://kit.fontawesome.com/86e4c9f4e1.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="style.css" />
        <meta name="description" content="I'm frontend developer and I'm keen on technology, coding and design. This space is used by me to show my progress and share with you some cool things such as: dev tips, design tricks, new technologies, and many, many more.">
        <meta name="keywords" content="<corn code/>, corn code, blog" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="<Corn Code/> Blog">
        <meta property="og:description" content="I'm frontend developer and I'm keen on technology, coding and design. This space is used by me to show my progress and share with you some cool things such as: dev tips, design tricks, new technologies, and many, many more.">
        <meta property="og:image" content="assets/img/thumbnail.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="<Corn Code/> Blog">
        <meta property="twitter:description" content="I'm frontend developer and I'm keen on technology, coding and design. This space is used by me to show my progress and share with you some cool things such as: dev tips, design tricks, new technologies, and many, many more.">
        <meta property="twitter:image" content="assets/img/thumbnail.png">

        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
    <body>
        {% include 'header.njk'%}
        {{ content | safe }}
        {% include 'footer.njk'%}

        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                    });
                }
                });
            }
        </script>
    </body>
</html>