<header id="main__header">
            <div class="wrapper">
                <a href="#home" class="logo inside-link"><img src="./assets/img/logo1.svg" alt="logo"><span>&ltCorn Code/&gt</span></a>
                <div class="toggle">
                    <input type="checkbox" id="toggle-button">
                    <label for="toggle-button" class="toggle-label"></label>
                </div>
            </div>
            <nav>
                <button class="nav-menu">
                    <div class="nav-menu__burger"></div>
                </button>
                <ul>
                    <li><a href="#home" class="inside-link selected">Home</a></li>
                    <li><a href="#blog" class="inside-link ">Blog</a></li>
                    <li><a href="#about" class="inside-link">About</a></li>
                    <li><a href="#contact" class="inside-link">Contact</a></li>
                </ul>
            </nav>
        </header>